@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: RockyMonkey;
	src: url(../resources/RockyMonkey.ttf);
  }

body {
	font-family: 'Bebas Neue', cursive;
    height: 100vh;
	width: 100vw;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

.showcase {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.containerLOGO{
	height: 40%;
	width: 100vw;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.container {
	display: flex;
	flex-direction: column;
	background: url("/menu.png") no-repeat center;
	position: relative;
	height: 70%;
	width: 100vw;
	z-index: 2;
}

.containerLOGO img {
	height: 350px;
	width: 45%;
	z-index: 1;
}

.btn {
	cursor: pointer;
	padding: 0;
	border: none;
	background: none;
}

.btn img {
	height: 90px;
	width: 250px;
	object-fit: cover;
}

.btn:hover {
	transform: scale(0.94);
}

.a:hover {
	transform: scale(0.94);
}

.opciones {
	position: absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	z-index: 2;
	height: 500px;
	width: 325px;
	border-radius: 20px;
	background-image: url("../resources/tabla_fondo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: none;
	flex-direction: column;
}

.opciones h1 {
	font-family: 'Bebas Neue', cursive;
	color: aliceblue;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 37px;
}

.opciones .close {
	font-family: 'Bebas Neue', cursive;
	color: aliceblue;
	font-size: 37px;
	position: absolute;
	top: 20px;
	right: 25px;
	cursor: pointer;
}

.op1 {
	cursor: pointer;
	border: none;
	background: none;
}

.op2 {
	cursor: pointer;
	border: none;
	background: none;
}

.op1:hover {
	transform: scale(0.94);
}

.op2:hover {
	transform: scale(0.94);
}

.btn_regresar {
	cursor: pointer;
	border: none;
	background: none;
}

.btn_regresar:hover {
	transform: scale(0.94);
}

.puntuaciones {
	background-image: url("../resources/tabla_fondo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding-top: 30px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	z-index: 2;
	height: 450px;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.puntuaciones h1 {
	font-family: 'RockyMonkey';
	color: #ffe7a7;
	font-size: 20px;
}

.puntuaciones table {
	font-family: 'RockyMonkey';
	color: #ffe7a7;
	font-size: 10px;
	width: 50%;
}


.puntuaciones .close2 {
	font-family: 'Bebas Neue', cursive;
	color: aliceblue;
	font-size: 37px;
	position: absolute;
	top: 0;
	right: 17px;
	cursor: pointer;
}

.escenarios {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	z-index: 2;
	height: 550px;
	width: 500px;
	background-image: url("../resources/tabla_fondo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: none;
	flex-direction: column;
}

.escenarios h1 {
	font-family: 'Bebas Neue', cursive;
	color: aliceblue;
	margin-top: 90px;
	margin-bottom: 20px;
	font-size: 37px;
}

.escenarios .close3 {
	font-family: 'Bebas Neue', cursive;
	color: aliceblue;
	font-size: 37px;
	position: absolute;
	top: 20px;
	right: 100px;
	cursor: pointer;
}

.borde {
	border: 1px solid black;
}

/* SLIDER STYLE */

.slidecontainer {
	width: 100%;
  }
  
  .slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider:hover {
	opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 10px;
	background: #ecb614;
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #ecb614;
	cursor: pointer;
  }

  /*fin slider*/

  .Ajustes{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-image: url("../resources/tabla_fondo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 500px;
	width: 325px;
	z-index: 3;
  }

  .Ajustes h1{
	font-family: RockyMonkey;
   font-size: 35px;
   margin-bottom: 15px;
   color: #ffe7a7;
  }

  .Ajustes img {
	margin-top: 40px;
  }

  .slider-iconos{
	display: flex;
	flex-direction: column;
	width: 100%;
  }

  .iconos{
	font-size: 20px;
	color: #ffe7a7;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
  }
  
  .musica {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
  }

  .musica h3{
	font-family: RockyMonkey;
	font-size: 20px;
	margin-right: 10px;
	color: #ffe7a7;
  }

  .efectos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
  }

  .efectos h3{
	font-family: RockyMonkey;
	margin-right: 30px;
	font-size: 15px;
	color: #ffe7a7;
  }


  .creditos {
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	background-image: url("../resources/pantalla_credits.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 550px;
	width: 500px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 11;
  }

  #button6 {
	font-family: RockyMonkey;
	padding-right: 120px;
	padding-top: 30px;
	font-size: 35px;
	color: #ffe7a7;
	cursor: pointer;
  }
 

  